@font-face {
    font-family: 'Pacifico';
    src: url("pacifico/Pacifico-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo 2';
    src: url("baloo_2/static/Baloo2-Regular.ttf");
    font-weight: normal; /* Regular */
    font-style: normal;
}

@font-face {
    font-family: 'Baloo 2';
    src: url("baloo_2/static/Baloo2-Bold.ttf");
    font-weight: bold; /* Bold */
    font-style: normal;
}

@font-face {
    font-family: 'Baloo 2';
    src: url("baloo_2/static/Baloo2-Medium.ttf");
    font-weight: 500; /* Medium */
    font-style: normal;
}

@font-face {
    font-family: 'Baloo 2';
    src: url("baloo_2/static/Baloo2-SemiBold.ttf");
    font-weight: 600; /* SemiBold */
    font-style: normal;
}

@font-face {
    font-family: 'Baloo 2';
    src: url("baloo_2/static/Baloo2-ExtraBold.ttf");
    font-weight: 800; /* ExtraBold */
    font-style: normal;
}
